Repository vsem-azamat/moderator-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pytest-check, eslint, typescript-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: debug-statements

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.9
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: uv run mypy
        language: system
        types: [python]
        args: [app/, tests/]
        pass_filenames: false

      - id: pytest-check
        name: pytest-check
        entry: uv run pytest tests/unit tests/integration -x -q
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        stages: [pre-push]

      - id: eslint
        name: ESLint (TypeScript/React)
        entry: bash -c 'cd webapp && npx eslint .'
        language: system
        files: ^webapp/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: typescript-check
        name: TypeScript Check
        entry: bash -c 'cd webapp && npx tsc --noEmit'
        language: system
        files: ^webapp/.*\.(ts|tsx)$
        pass_filenames: false

docs: enhance CLAUDE.md with detailed technology stack and frontend features
  CLAUDE.md
Due: none

fix: resolve dependency injection error for blacklist handlers
  app/infrastructure/db/session.py
  app/presentation/api/main.py
  app/presentation/telegram/middlewares/dependencies.py
  tests/handlers/test_dependency_injection.py
Due: mypy, pytest-check

feat: add migration script to fix collation version mismatch for PostgreSQL 17.6
  alembic/versions/73a429eaabbb_fix_collation_version_mismatch_for_.py
Due: mypy, pytest-check

fix: update bot command in docker-compose files to use 'uv run' for alembic and watchfiles
  docker-compose.dev.yaml
  docker-compose.yaml
Due: none

feat(dev): expose db's ports for dev mode
  docker-compose.dev.yaml
Due: none

feat: establish frontend foundation with complete FastAPI and React integration
  .env.example
  .env.prod-db.example
  .gitignore
  CLAUDE.md
  Makefile
  app/presentation/api/__init__.py
  app/presentation/api/main.py
  app/presentation/api/routers/__init__.py
  app/presentation/api/routers/chats.py
  app/presentation/api/schemas/__init__.py
  app/presentation/api/schemas/chat.py
  docker-compose.dev.yaml
  docker-compose.yaml
  nginx.dev.conf
  nginx.prod-db.conf
  pyproject.toml
  scripts/prod-db-connect.sh
  uv.lock
  webapp/.gitignore
  webapp/src/App.css
  webapp/src/App.tsx
  webapp/src/components/ChatBulkActions.tsx
  webapp/src/components/ChatCard.tsx
  webapp/src/components/ChatList.tsx
  webapp/src/services/api.ts
  webapp/src/types/chat.ts
Due: mypy, pytest-check, eslint, typescript-check

wip: implement Telegram statistics service and integrate with chat management API
  CLAUDE.md
  app/application/services/telegram_stats.py
  app/infrastructure/db/repositories/message.py
  app/presentation/api/routers/chats.py
  webapp/src/components/ChatBulkActions.tsx
  webapp/src/components/ChatCard.tsx
  webapp/src/components/ChatList.tsx
Due: mypy, pytest-check, eslint, typescript-check

wip: Implement bulk chat management functionality
  webapp/src/App.css
  webapp/src/App.tsx
  webapp/src/components/ActionConfigPanel.tsx
  webapp/src/components/BulkActionExecutor.tsx
  webapp/src/components/BulkChatManager.tsx
  webapp/src/components/ChatSelectionPanel.tsx
  webapp/src/services/api.ts
  webapp/src/types/index.ts
  webapp/src/utils/mockData.ts
Due: eslint, typescript-check

feat: add auto-deletion toggle for join/leave messages in chat settings
  alembic/versions/08a895a93f06_merge_collation_fix_and_auto_delete_.py
  alembic/versions/a1b2c3d4e5f6_add_auto_delete_join_leave_to_chats.py
  app/domain/entities.py
  app/domain/models.py
  app/infrastructure/db/repositories/chat.py
  app/presentation/telegram/handlers/events.py
  app/presentation/telegram/handlers/moderation.py
Due: mypy, pytest-check

feat: implement comprehensive AI agent integration with PydanticAI
  app/application/services/agent_service.py
  app/application/services/agent_tools.py
  app/core/container.py
  app/domain/agent.py
  app/domain/repositories.py
  app/infrastructure/db/repositories/agent.py
  app/presentation/api/main.py
  app/presentation/api/routers/agent.py
  app/presentation/api/routers/chats.py
  app/presentation/api/schemas/agent.py
  pyproject.toml
  uv.lock
  webapp/package-lock.json
  webapp/package.json
  webapp/src/App.tsx
  webapp/src/components/AgentChat.tsx
  webapp/src/components/AgentManager.tsx
  webapp/src/services/agentApi.ts
  webapp/src/types/index.ts
Due: mypy, pytest-check, eslint, typescript-check

feat: add comprehensive AI agent API key configuration
  .env.example
  CLAUDE.md
  app/application/services/agent_service.py
  app/core/config.py
  app/domain/agent.py
  app/presentation/api/routers/agent.py
Due: mypy, pytest-check

fix: add missing protobuf dependencies in Dockerfile
  Dockerfile
Due: none

feat: implement caching for chat administrators in ManagedChatsMiddleware
  app/presentation/telegram/middlewares/managed_chats.py
Due: mypy, pytest-check
